<div class="container test">
  <h1>Burgers:</h1>

  <ul>
    {{#each burgersNonDevoured}}
      <li>
        <p>
          {{this.id}}. {{this.burgerType}}
          <button data-burgerid="{{this.id}}" class="devourBurger">Devour</button>
          
        </p>
      </li>
    {{/each}}
  </ul>

  <h1>Devoured Burgers</h1>
  <p>At the moment, you have to refresh the page after deleting to update the list.</p>
  <p>(Sorry, I know that that is pretty lame, but I haven't figured out how to fix it yet).</p>
  <ul>
    {{#each burgersDevoured}}
      <li>
        <p>
          {{this.id}}. {{this.burgerType}}
          <button data-burgerid="{{this.id}}" class="deleteBurger">Delete</button>
        </p>
      </li>
    {{/each}}
  </ul>





  <h2>Add a Burger</h2>
  <form id="addBurger" class="button-size">
    <textarea type="text" name="burger"></textarea>
    <button type="submit">Add to the Menu!</button>
  </form>

</div>


<!-- JAVASCRIPT -->
<!-- ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== -->
<!-- I hate that all of this javascript is in here and not in its own file, but I can't figure out how to move it. -->
<script type="text/javascript">

// ADD THE BURGER ---------- ---------- ---------- ---------- ---------- 
$("#addBurger").on("submit", function(event) {
  // Make sure to preventDefault on a submit event.
  event.preventDefault();

  var newBurger = {
    burger: $("#addBurger [name=burger]").val().trim()
  };

  // Send the POST request.
  $.ajax("/api/burgers", {
    type: "POST",
    data: newBurger
  }).then(
    function() {
      console.log("added new burger");
      // Reload the page to get the updated list
      location.reload();
    }
  );
});



// DEVOUR ---------- ---------- ---------- ---------- ---------- 
$(".devourBurger").on("click", function(event) {
  var id = $(this).data("burgerid");

  // Send the DELETE request.
  $.ajax("/api/burgers/" + id, {
    type: "PUT"
  }).then(
    function() {
      console.log("devoured: ", id);
      location.reload();
    }
  );
});


// DELETE ---------- ---------- ---------- ---------- ---------- 
$(".deleteBurger").on("click", function(event) {
  var id = $(this).data("burgerid");

  // Send the DELETE request.
  $.ajax("/api/burgers/" + id, {
    type: "DELETE"
  }).then(
    function() {
      //console.log("deleted: ", id);
      alert("Deleting Burger");
      location.reload();
    }
  );
});





</script>
